<!DOCTYPE html>
<html lang="de">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }}</title>

<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">

</head>

<body>

<div class="wrapper">

<aside class="sidebar">

<h2>Navigation</h2>

<ul>

<li>
<a href="{{ '/' | relative_url }}">
Überblick
</a>
</li>

<li>

<details>
<summary>Versuch 1</summary>

<ul class="subnav">
<li><a href="{{ '/docs/Versuch1/01-einfuehrung.html' | relative_url }}">Einführung</a></li>
<li><a href="{{ '/docs/Versuch1/02-S3.html' | relative_url }}">S3</a></li>
<li><a href="{{ '/docs/Versuch1/03-transcoder.html' | relative_url }}">Transcoder</a></li>
<li><a href="{{ '/docs/Versuch1/04-download.html' | relative_url }}">Download</a></li>
<li><a href="{{ '/docs/Versuch1/05-fazit.html' | relative_url }}">Fazit</a></li>
<li><a href="{{ '/docs/Versuch1/06-troubleshooting.html' | relative_url }}">Troubleshooting</a></li>
</ul>

</details>

</li>


<li>

<details>
<summary>Versuch 2</summary>

<ul class="subnav">
<li><a href="{{ '/docs/Versuch2/01-einfuehrung.html' | relative_url }}">Einführung</a></li>
<li><a href="{{ '/docs/Versuch2/02-property.html' | relative_url }}">Property</a></li>
<li><a href="{{ '/docs/Versuch2/03-netstorage.html' | relative_url }}">Netstorage</a></li>
<li><a href="{{ '/docs/Versuch2/04-inhalte_abrufen.html' | relative_url }}">Inhalte abrufen</a></li>
<li><a href="{{ '/docs/Versuch2/05-fazit.html' | relative_url }}">Fazit</a></li>
</ul>

</details>

</li>


<li>

<details>
<summary>Versuch 3</summary>

<ul class="subnav">
<li><a href="{{ '/docs/Versuch3/01-einfuehrung.html' | relative_url }}">Einführung</a></li>
<li><a href="{{ '/docs/Versuch3/02-s3_vorbereitungen.html' | relative_url }}">S3 Vorbereitungen</a></li>
<li><a href="{{ '/docs/Versuch3/03-sns.html' | relative_url }}">SNS</a></li>
<li><a href="{{ '/docs/Versuch3/04-lambda.html' | relative_url }}">Lambda</a></li>
<li><a href="{{ '/docs/Versuch3/05-testen.html' | relative_url }}">Testen</a></li>
<li><a href="{{ '/docs/Versuch3/06-fazit.html' | relative_url }}">Fazit</a></li>
<li><a href="{{ '/docs/Versuch3/07-troubleshooting.html' | relative_url }}">Troubleshooting</a></li>
</ul>

</details>

</li>


<li>

<details>
<summary>Versuch 4</summary>

<ul class="subnav">
<li><a href="{{ '/docs/Versuch4/01-einfuehrung.html' | relative_url }}">Einführung</a></li>
<li><a href="{{ '/docs/Versuch4/02-Standprüfung.html' | relative_url }}">Standprüfung</a></li>
<li><a href="{{ '/docs/Versuch4/03-exportCDN.html' | relative_url }}">Export CDN</a></li>
<li><a href="{{ '/docs/Versuch4/04-fazit.html' | relative_url }}">Fazit</a></li>
</ul>

</details>

</li>


<li>

<details>
<summary>Versuch 5</summary>

<ul class="subnav">
<li><a href="{{ '/docs/Versuch5/01-einfuehrung.html' | relative_url }}">Einführung</a></li>
<li><a href="{{ '/docs/Versuch5/02-cloudshell.html' | relative_url }}">Cloudshell</a></li>
<li><a href="{{ '/docs/Versuch5/03-python_sdk.html' | relative_url }}">Python SDK</a></li>
<li><a href="{{ '/docs/Versuch5/04-fazit.html' | relative_url }}">Fazit</a></li>
<li><a href="{{ '/docs/Versuch5/05-troubleshooting.html' | relative_url }}">Troubleshooting</a></li>
</ul>

</details>

</li>

</ul>

</aside>

<main class="content">

<div class="page-container">

{% if page.title %}
<h1 class="page-title">{{ page.title }}</h1>
{% endif %}

{{ content }}

</div>

</main>

</div>

</body>
</html>
